local.properties
.gradle
build
apps/iosApp/Podfile.lock
apps/iosApp/Pods/*
apps/iosApp/iosApp.xcworkspace/*
apps/iosApp/iosApp.xcodeproj/*
!apps/iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec


*.iml
.DS_Store
captures
.externalNativeBuild
.cxx
xcuserdata
/keys/

# Idea
**/.idea/*
# Allow code styles and run configurations
!**/.idea/codeStyles
!**/.idea/runConfigurations
!**/.idea/icon.svg
!**/.idea/.name